@model IEnumerable<Trans9.Models.PumpMaster>
<div class="card">
    <div class="table-content">
        <div class="card-body table-responsive p-0" style="height: 450px;">
            <table class="table table-head-fixed text-nowrap table-bordered table-hover">
                <thead class="header">
                    <tr>
                        <th>
                            #
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.pumpName)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.location)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.rate)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.status)
                        </th>
                        <th>ACTION</th>
                    </tr>
                </thead>
                <tbody>
                    @if (Model.Any())
                    {
                        int i = 1;
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>
                                    @(i++)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.pumpName)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.location)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.rate)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.status)
                                </td>
                                <td>
                                    <a onclick="showInPopup('@Url.Action("AddOrEdit","PumpMaster",new { id=item.pumpId},Context.Request.Scheme)', 'Update Pump')" class="text-primary"><span class="fa fa-pencil-alt"></span></a>
                                    <form id="@("form"+item.pumpId)" asp-action="Delete" asp-route-id="@item.pumpId" onsubmit="return jQueryAjaxDelete(this);" class="d-inline">
                                        <a onclick="javascript:$('#@("form"+item.pumpId)').submit()" class="text-danger"><span class="fa fa-trash"></span></a>
                                    </form>
                                </td>
                            </tr>
                        }
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>