@model IEnumerable<Trans9.Models.Diesel>
@if (Model.Any())
{
    int i = 1;
    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.voucherNo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.voucherDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.shipmentNo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.pumpName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.location)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.receiptNo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.rate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.qty)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.amount)
            </td>
        </tr>
    }
}