@model IEnumerable<Trans9.Models.PlantOut>
<div class="card">
    <div class="table-content">
        <div class="card-body table-responsive p-0" style="height: 450px;">
            <table class="table table-head-fixed text-nowrap table-bordered table-hover">
                <thead class="header">
                    <tr>
                        <th>ACTION</th>
                        <th>
                            #
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.shipmentNo)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.shipmentDate)
                        </th>
                        @*  <th>
                        @Html.DisplayNameFor(model => model.dealerName)
                        </th>*@
                        <th>
                            @Html.DisplayNameFor(model => model.dest)
                        </th>
                        @* <th>
                        @Html.DisplayNameFor(model => model.vcNo)
                        </th>*@
                        @* <th>
                        @Html.DisplayNameFor(model => model.modelDesc)
                        </th>*@
                        @*   <th>
                        @Html.DisplayNameFor(model => model.plantCode)
                        </th>*@
                        @*     <th>
                        @Html.DisplayNameFor(model => model.plantDesc)
                        </th>*@
                        <th>
                            @Html.DisplayNameFor(model => model.chasisNo)
                        </th>
                        @*  <th>
                        @Html.DisplayNameFor(model => model.invoiceNo)
                        </th>
                        <th>
                        @Html.DisplayNameFor(model => model.invoiceDate)
                        </th>*@
                        <th>
                            @Html.DisplayNameFor(model => model.ewayNo)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.expDate)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.createdDate)
                        </th>
                        @*   <th>
                        @Html.DisplayNameFor(model => model.deliveryDate)
                        </th>*@
                        <th>
                            @Html.DisplayNameFor(model => model.status)
                        </th>
                    </tr>
                </thead>
                <tbody>
                    @if (Model != null)
                    {
                        int i = 1;
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>
                                    <form id="@("formApprove"+item.ewayId)" asp-action="approveLoading" asp-route-id="@item.ewayId" onsubmit="return jQueryAjaxPost(this);" class="d-inline">
                                        <a onclick="javascript:$('#@("formApprove"+item.ewayId)').submit()" class="text-warning"><span class="fa fa-thumbs-up" style="color: blue;"></span></a>
                                    </form>

                                    <form id="@("formReject"+item.ewayId)" asp-action="Reject" asp-route-id="@item.ewayId" onsubmit="return jQueryAjaxPost(this);" class="d-inline">
                                        <a onclick="javascript:$('#@("formReject"+item.ewayId)').submit()" class="text-warning"><span class="fa fa-times" style="color: red;"></span></a>
                                    </form>
                                </td>
                                <td>
                                    @(i++)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.shipmentNo)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.shipmentDate)
                                </td>
                                @*  <td>
                        @Html.DisplayFor(modelItem => item.dealerName)
                        </td>*@
                                <td>
                                    @Html.DisplayFor(modelItem => item.dest)
                                </td>
                                @* <td>
                        @Html.DisplayFor(modelItem => item.vcNo)
                        </td>*@
                                @*   <td>
                        @Html.DisplayFor(modelItem => item.modelDesc)
                        </td>*@
                                @*  <td>
                        @Html.DisplayFor(modelItem => item.plantCode)
                        </td>*@
                                @*<td>
                        @Html.DisplayFor(modelItem => item.plantDesc)
                        </td>*@
                                <td>
                                    @Html.DisplayFor(modelItem => item.chasisNo)
                                </td>
                                @* <td>
                        @Html.DisplayFor(modelItem => item.invoiceNo)
                        </td>
                        <td>
                        @Html.DisplayFor(modelItem => item.invoiceDate)
                        </td>*@
                                <td>
                                    @Html.DisplayFor(modelItem => item.ewayNo)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.expDate)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.createdDate)
                                </td>
                                @*   <td>
                        @Html.DisplayFor(modelItem => item.deliveryDate)
                        </td>*@
                                <td>
                                    @Html.DisplayFor(modelItem => item.status)
                                </td>                              
                            </tr>
                        }
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>

