@model IEnumerable<Trans9.Models.Voucher>
<div class="card">
    <div class="table-content">
        <div class="card-body table-responsive p-2" style="height: 450px;">
            <table class="table table-head-fixed text-nowrap table-bordered table-hover" id="report-table">
                <thead class="header">
                    <tr>
                        <th>#</th>
                        <th></th>
                        <th>
                            @Html.DisplayNameFor(model => model.voucherNo)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.voucherDate)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.inchargeName)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.driverName)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.location)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.amount)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.balance)
                        </th>
                    </tr>
                </thead>
                <tbody>
                    @if (Model.Any())
                    {
                        int i = 1;
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>
                                    @(i++)
                                </td>
                                <td>
                                    <a href="@Url.Action("print","Marching",new { id=item.id},Context.Request.Scheme)" target="_blank" class="btn btn-info btn-sm"><span class="fa fa-print"></span></a>
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.voucherNo)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.voucherDate)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.inchargeName)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.driverName)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.location)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.amount)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.balance)
                                </td>
                            </tr>
                        }
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>
@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    }
