@model IEnumerable<Trans9.Models.ShipmentReport>

<div class="card">
    <div class="table-content">
        <div class="card-body table-responsive p-2" style="height: 450px;">
            <table class="table table-head-fixed text-nowrap table-bordered table-hover" id="report-table">
                <thead class="header">
                    <tr>
                        <th>#</th>
                        <th>
                            @Html.DisplayNameFor(model => model.shipmentNo)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.shipmentDate)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.createdDate)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.dealerName)
                        </th>
                        @*<th>
                            @Html.DisplayNameFor(model => model.driverIncharge)
                        </th>*@
                        <th>
                            @Html.DisplayNameFor(model => model.driverName)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.destination)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.region)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.vcNo)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.modelDescription)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.chassisNo)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.plantCode)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.plantDescription)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.ewayBillNo)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.invoiceNo)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.invoiceDate)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.plantOutDate)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.standardTransitTime)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.lastEstimatedDate)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.deliveryDate)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.reachDate)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.currentStatus)
                        </th>
                    </tr>
                </thead>
                <tbody>
                    @if (Model.Count() > 0)
                    {
                        int i = 1;
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>@(i++)</td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.shipmentNo)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.shipmentDate)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.createdDate)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.dealerName)
                                </td>
                                @*<td>
                                    @Html.DisplayFor(modelItem => item.driverIncharge)
                                </td>*@
                                <td>
                                    @Html.DisplayFor(modelItem => item.driverName)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.destination)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.region)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.vcNo)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.modelDescription)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.chassisNo)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.plantCode)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.plantDescription)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.ewayBillNo)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.invoiceNo)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.invoiceDate)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.plantOutDate)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.standardTransitTime)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.lastEstimatedDate)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.deliveryDate)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.reachDate)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.currentStatus)
                                </td>
                            </tr>
                        }
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>