@model IEnumerable<Trans9.Models.ProfitLoss>
<div class="card">
    <div class="table-content">
        <div class="card-body table-responsive p-2" style="height: 450px;">
            <table class="table" id="report-table">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>
                            @Html.DisplayNameFor(model => model.shipmentNo)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.modelDesc)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.destination)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.vcNo)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.mfgCode)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.routeCode)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.expense)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.freight)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.plStatus)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.plAmount)
                        </th>
                    </tr>
                </thead>
                <tbody>
                    @if (Model.Any())
                    {
                        int i = 1;
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>
                                    @(i++)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.shipmentNo)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.modelDesc)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.destination)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.vcNo)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.mfgCode)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.routeCode)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.expense)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.freight)
                                </td>
                                <td class="pl-@item.plStatus">
                                    @Html.DisplayFor(modelItem => item.plStatus)
                                </td>
                                <td class="pl-@item.plStatus">
                                    @Html.DisplayFor(modelItem => item.plAmount)
                                </td>
                            </tr>
                        }
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>