@model IEnumerable<Trans9.Models.Shipment>
<div class="card">
    <div class="table-content">
        <div class="card-body table-responsive p-0" style="height: 450px;">
            <table class="table table-head-fixed text-nowrap table-bordered table-hover">
                <thead class="header">
                    <tr>
                        <th>ACTION</th>
                        <th>
                            #
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.shipmentNo)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.shipmentDate)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.dest)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.routeCode)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.vcNo)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.modelDesc)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.mfgCode)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.plantCode)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.mfgRoute)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.chasisNo)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.driverName)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.driverMobile)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.invoiceNo)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.invoiceDate)
                        </th>

                        <th>
                            @Html.DisplayNameFor(model => model.ewayno)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.epodNo)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.epodDate)
                        </th>
                        <th>
                            PLANT-OUT DATE
                        </th>
                        <th>
                            ESTIMATED DELIVERY DATE
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.status)
                        </th>                       
                    </tr>
                </thead>
                <tbody>
                    @if (Model.Any())
                    {
                        int i = 1;
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>
                                    <a onclick="showInPopup('@Url.Action("CloseOrUpdate","ShipmentClosed",new { id=item.shipmentId},Context.Request.Scheme)', 'Update Shipment')" class="text-primary"><span class="fa fa-pencil-alt"></span></a>
                                    <form id="@("form"+item.shipmentId)" asp-action="Delete" asp-route-id="@item.shipmentId" onsubmit="return jQueryAjaxDelete(this);" class="d-inline">
                                        <a onclick="javascript:$('#@("form"+item.shipmentId)').submit()" class="text-danger"><span class="fa fa-trash"></span></a>
                                    </form>
                                </td>
                                <td>
                                    @(
                                        i++
                                        )
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.shipmentNo)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.shipmentDate)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.dest)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.routeCode)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.vcNo)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.modelDesc)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.mfgCode)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.plantCode)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.mfgRoute)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.chasisNo)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.driverName)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.driverMobile)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.invoiceNo)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.invoiceDate)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.ewayno)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.epodNo)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.epodDate)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.updatedDate)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.estimatedDate)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.status)
                                </td>                             
                            </tr>
                        }

                    }
                </tbody>
            </table>
        </div>
    </div>
</div>
