@model IEnumerable<Trans9.Models.Shipment>
<div class="card">
    <div class="table-content">
        <div class="card-body table-responsive p-0" style="height: 450px;">
            <table class="table table-head-fixed text-nowrap table-bordered table-hover">
                <thead class="header">
                    <tr>
                        <th>
                            #
                        </th>
                        <th>ACTION</th>
                        <th>
                            @Html.DisplayNameFor(model => model.shipmentNo)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.shipmentDate)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.createdDate)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.dealerId)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.detsinationId)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.vcNo)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.modelDesc)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.plantCode)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.plantDesc)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.chasisNo)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.invoiceNo)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.invoiceDate)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.status)
                        </th>                       
                    </tr>
                </thead>
                <tbody>
                    @if (Model.Any())
                    {
                        int i = 1;
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>
                                    @(i++)
                                </td>
                                <td>
                                    <a onclick="showInPopup('@Url.Action("AddOrEdit","Shipment",new { id=item.shipmentId},Context.Request.Scheme)', 'Update Shipment')" class="text-primary"><span class="fa fa-pencil-alt"></span></a>
                                    <form id="@("form"+item.shipmentId)" asp-action="Delete" asp-route-id="@item.shipmentId" onsubmit="return jQueryAjaxDelete(this);" class="d-inline">
                                        <a onclick="javascript:$('#@("form"+item.shipmentId)').submit()" class="text-danger"><span class="fa fa-trash"></span></a>
                                    </form>
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.shipmentNo)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.shipmentDate)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.createdDate)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.dealerName)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.dest)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.vcNo)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.modelDesc)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.plantCode)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.plantDesc)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.chasisNo)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.invoiceNo)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.invoiceDate)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.status)
                                </td>                               
                            </tr>
                        }}
                </tbody>
            </table>
        </div>
    </div>
</div>